/* reset css */
body {
  margin: 0;
  padding: 0;
}

/* nav bar */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.brand-size {
  font-size: 30px;
}
.slide-container {
  width: 300vw;
  transition: all 1s;
  /* transform: translate(-100vw); */
}

.slide-box {
  width: 100vw;
  float: left;
}
.slide-box img {
  width: 100%;
}
