/* reset css */
body {
  margin: 0;
  padding: 0;
}

/* nav bar */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.navbar-brand {
  /* font-size: 30px; */
  transition: all 1s;
}
.status {
  width: 0;
  height: 4px;
  background-color: salmon;
  position: fixed;
  top: 60px;
  z-index: 5;
  width: 100%;
}
.slide-container {
  width: 300vw;
  transition: all 1s;
  /* transform: translate(-100vw); */
}

.slide-box {
  width: 100vw;
  float: left;
}
.slide-box img {
  width: 100%;
  object-fit: cover;
}
